body{
  margin:0;
  padding:0;
  text-align:center;
}

#text{
  margin-left: 10%;
  margin-right: 10%;
}

.Maya-image{
  width:100%;
}

#hello{
  position: absolute;
  top:12%;
  font-size: 100px;
  color:white;
}

.Divider{
  margin:10px;
  margin-top:30px;
  width:150px;
}

.skill-icon{
  height:80px;
}

.icon-link{
  margin-left:50px;
  margin-right:50px
}